*{
    margin: 0;
    padding: 0;
    
}


.div1{
    height: 800px;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("Scholars-Institute-building.png");
    background-size: cover;
    text-align: center;
    color: white;
}






.div2 .navbar li{

    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    
    font-size: 20px;
    font-weight: 300;
    height: 20px;
    width: 100px;
    padding: 20px 15px 15px 20px;
    border-radius: 10px;
    
}

.div2 .navbar li:hover{
    background-color: rgba(52, 152, 219, 0.5);
    cursor: pointer;
    
}

.div3{
    margin-top: 200px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}

.div3 h1{
    font-size: 70px;
    font-weight: 900;
}

.div3 p{
    font-size: 20px;
    font-weight: 500;
}

.button1{
    margin-top: 40px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,131,247,1) 0%);
    color: white;
    
}


.button1:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.div4{
    height: 800px;
    width: 100%;
}



.box2{
    height: 450px;
    width: 400px;
    background-color: rgba(250,250,250,0.8);
    opacity: 1.5;
    z-index: 2;
    top: 1040px;
    left: 150px;
    position: absolute;
    box-sizing: border-box;
}


.heading1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px;
    line-height: 1.21428571;
    letter-spacing: .75px;
    word-spacing: 1.25px;
    text-transform: uppercase;
}

.hr1{
    width: 200px;
    margin-left: 40px;
}

.para1{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 15px;
    font-family: 'Salsa', cursive;
}

.eventbutton{
     height: 50px;
     width: 200px;
     font-size: 10px;
     padding: 10px;
     background-color: rgba(250,250,250,0.10);
     border-radius: 0px;
     border: 3px solid black;
     margin-left: 40px;
     margin-top: 30px;
     color: black;

}

.eventbutton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

{ box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  z-index: 1;
  position: relative;
  autoplay: True;
  autoPlay: 1500;
  pauseAutoPlayOnHover: false;
}

.carousel-cell {
    
  height: 800px;
  width:100%;
  margin-left: 0px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  position: absolute;
  z-index: 1;
  object-fit: contain;
  autoplay: True;
  autoPlay: 1500;
  pauseAutoPlayOnHover: false;
}

.image2{
   margin-top: 0px;
   margin-left:0px;
   height: 800px;
   width: 100%;
}

.eventhead{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Salsa', cursive;
}

.image3{
    height: 800px;
    width:100%;
}

.div5{
    width: 100%;
    height: 600px;
    margin: 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),url("football.jpg");
    background-size: cover;
}

.eventhead1{
    margin-top: 0px;

    margin-left: 40px;
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.para2{
    margin-top: 0px;
    margin-left: 40px;
    font-size: 40px;
    color: white;
}

.div6{
    height: 800px;
    width: 100%;
    display: inline-block;
}

.div6 .newshead{
    margin-top: 80px;
    margin-left: 120px;
    font-size: 50px;
    color: #00356b;
    font-family: 'Bitter', serif;
}

.image4{
    height: 400px;
    width: 600px;
    margin-left: 80px;
    margin-top: 50px;
}

.para3{
    margin-top: 20px;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 30px;
}

.para4{
    margin-top: 17px;
    font-size: 15px;
    color: #4a4a4a;
    margin-left: 80px;
    
}

.hr2{
    margin-top: 10px;
    width: 40px;
    margin-left: 80px;
}

.box4{
    height: 550px;
    width: 700px;
    margin-left: 20px;
    margin-top: 0px;
    display: inline-block;
}

.box5{
    height: 800px;
    width: 700px;
    margin-left: 40px;
    margin-top: 0px;
    display: inline-block;
    position: absolute;
    
}
.para5{
    margin-top: 40px;
    margin-left: 100px;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    color: black;
}

.para6{
    margin-top: 15px;
    margin-left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4a4a4a;
}

.hr3{
    margin-top: 10px;
    width: 40px;
    margin-left: 100px;
}

.news2{
    font-size: 17px;
    color: #00366b;
    font-weight: bolder;
    font-family: 'Bitter', serif;
    margin-left: 1150px;
    margin-top: 0px;
    color: #4a4a4a;
}

#button3{
    margin-left: 10px;
    height: 40px;
    width: 50px;
    background-color: #00356b;
    color: white;
    font-weight: bold;
}

#button3:hover{
    cursor: pointer;
}
   







 
