*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

ul{
    margin: 0px;

}

#sec6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05 ) ;
}

.sec6-heading{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec6-heading span{
    color: #f33c;
}


.sec6-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.news-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    height: 480px;
}

.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.news-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}

.news-text .news-title{
    font-size: 1.3rem;
    margin-top: 20px;
    font-weight: 500;
    color: #272727;

}

.news-text .news-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

.news-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;

}

.news-text a{
    color: #0f0f0f;

}

.news-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}