
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
}

.container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    margin: 50px auto;
    
    padding: 20px;

}

button{
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter_buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

button.active{
    background: #4070f4;
    color: #fff;
}

button .active:hover, 
.filter_buttons button:hover{
    background: #4070f4;
    color: #fff;
}

.filterable_cards{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    flex-basis: 300px;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 20px;
}
.card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 210px;
    object-fit: cover;

}

.card_body{
    padding: 15px 20px 20px;
}

.card_title{
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.card_text{
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    
}

.card{
    transition: all 0.3 ease;
}



.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: black;
    
}

.card:hover .card_title, 
.card:hover .card_text{
    color: #fff;
}

.card.hide{
    display: none;

}

.card.show{
    display: block;
}


.card.show{
    animation: animate 0.4s ease;
}

@keyframes animate{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }

}

