.contact
{
    position: relative;
    height: 90vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333;
}

.contact .contact-content{
    max-width: 800px;
    text-align: center;
    
}

.contact .contact-content h2{
    font-size: 3em;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.contact .contact-content p{
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.container-Info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.container-Info .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-Info .contactInfo h3{
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.container-Info .contactInfo p{
    margin-top: 0px;
}



.container-Info .contactInfo .box-info{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}

.container-Info .contactInfo .box-info .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.95em;
}

.container-Info .contactInfo .box-info .text{
    display: flex;
    flex-direction:column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;

}

.container-Info .contactInfo .box-info .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.container-Info .contactInfo .box-info:hover .icon{
    background: #00bcd4;
    color: #fff;
    transition: 0.3s;
}

.container-Info .contactForm{
    position: relative;
    width: 40%;
    background: #fff;
    min-height: 500px;
}

.container-Info .contactInfo .txt{
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 50px solid #e91e63;
    line-height: 1em;
}

.sci{
    position: relative;
    gap: 30px;
    display: flex;
    margin-left: 0px;

}

.sci li{
    list-style: none;
}

.sci li a{
    color: #fff;
    font-size: 2em;
    transition: 0.3s;

}

.sci li a:hover{
    color: #00bcd4;
    transition: 0.3s;
}

.container-Info .contactForm
{
    position:relative;
    width: 27%;
    background: #fff;
    min-height: 100px;
    padding: 60px;
}

.container-Info .contactForm h2
{
    color: #333;
    font-size: 2em;
    font-weight: 500;
}

.container-Info .contactForm .inputBox
{
   position: relative;
   width: 100%;
   margin-top: 20px;

}

.container-Info .contactForm .inputBox input,
.container-Info .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.container-Info .contactForm .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5ms;
}

.container-Info .contactForm .inputBox input:focus ~ span,
.container-Info .contactForm .inputBox textarea:focus ~ span,
.container-Info .contactForm .inputBox input:valid ~ span,
.container-Info .contactForm .inputBox textarea:valid ~ span{
   columns: #291e63;
   font-size: 0.9em;
   transform: translateY(-20px);

}

.container-Info .contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}